@charset "UTF-8";
/* CSS Document */

html{font: 16px 'open sans', sans serif;background-color:#FFFFFF;margin: 16px}

.agenda-day	{
	font-size: 1.2em;
	font-weight: 600;
	text-transform: uppercase;
		
}
.time-slot-container {
	background-color:#F7F5F5;
	margin: 16px 0px;
	padding: 16px;
	padding-bottom: 0px;
	border-radius: 8px;
	
}

.time-display	{
	float:left;
	margin-right: 8px;
	font-weight: 600;
	max-width: 70px;
}

.flex-container {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    }

.flex-container-nw {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
	align-items: center;
    }

.session-card	{
	width: 320px;
	margin-right:16px;
	margin-bottom:16px;
	border: 1px #CCC solid;
	background-color: #FFFFFF;
	border-radius: 8px;
	
}

	.session-card span {
		display:block;
	}

	.session-card input[type='radio'] {
		float:left;
}

.session-content {
	padding: 16px;
}

.session-type:before {
	font-size: 0.75em;
	font-weight: 600;
	color: #FFF;
	padding: 4px 8px;
	border-radius: 12px;
	text-transform: uppercase;
}

.session-type.keynote:before {
	content: "Keynote";
	background-color: #003BFF; 
}

.session-type.customer-case-study:before {
	content: "Customer Case Study";
	background-color: #719803; 
}

.session-type.customer-how-to:before {
	content: "Customer How To";
	background-color: #592C98; 
}



.session-card .title	{
	font-size: 1.1em;
	font-weight: 700;
	margin-top: 8px;
	margin-bottom: 8px;
}

.session-radio {
	align-self:stretch;
	padding: 8px;
	border-right: 1px #C3BEBE solid;
	border-radius: 8px 0px 0px 8px;
	cursor: pointer;

}

	.radio-selected{
		background-color: rgba(25,175,25,0.40);
		border-color:rgba(25,175,25,1.00);
	}


.peek-panel	{
	position:absolute;
	top: 0px;
	box-sizing: border-box;
	right:-336px;
	height: 100%;
	background-color: #FFFFFF;
	width: 320px;
	padding: 16px;
	box-shadow: 0px 0px 16px #333;
}

.clear-selection {
	color: #0076D0;
	margin-top: 16px;
	font-weight: 400;
	cursor: pointer;
}

.clear-selection:hover {
	text-decoration: underline;
}