{% extends "index.html" %}
{% block content %}

<head>
  <link rel="stylesheet" href="../static/css/main.css">
  <script src="static/js/jquery.js"></script>
  <script src="static/js/FileSaver.js"></script> 
  <script src="static/js/ics.js"></script>

  <script>
    
    $(function() {
      $('.session-radio').click(function () {
        /*
        var radioGroupName = $(this).attr('name');
        console.log(radioGroupName);
        */
        $(this).children('input').prop('checked', true);
        $('input:not(:checked)').parent().removeClass("radio-selected");
        $('input:checked').parent().addClass("radio-selected");
      });
      
      $('.session-content').click(function(){
        $('.peek-panel').animate({right:'0px'},250);
      });
      
      $('.peek-panel').click(function(){
        $(this).animate({right:'-336px'},200);
      })
      
      $('.clear-selection').click(function(){ 
        var radioGroupName = $(this).attr('name');
        $('input[name=' + radioGroupName + ']').prop('checked',false);
        $('input:not(:checked)').parent().removeClass("radio-selected");
      })

    });
    
  </script>

  <script type="text/javascript">
  	function createAgenda() {
  		selected_sessions = document.getElementsByClassName("radio-selected");
  		console.log(selected_sessions);
  	}

  </script>



</head>

<body>
	<div id="header">
		<h1>Create agenda</h1>
		<span class="primary-button" onclick="createAgenda()">Submit agenda</span>
	</div>
		
	<div class="agenda-name">
		Agenda name<span>*</span>: <input type="text" name="agendaname" placeholder="Required" style="width:400px">
	</div>

	 <span class="agenda-day">
			Sunday, June 2
	</span>

	{% set session_slot = 0 %}

    {% for group in grouped_sessions %}
    	{% set grouploop = loop %}
    
    <div class="time-slot-container">
      <div class="time-display">
        {{ group[0].start_time }} &ndash; {{ group[0].end_time }}
        <div class="clear-selection" name="{{ grouploop.index }}">Clear</div>
      </div>
      
      <div class="flex-container">

      {% for session in group %}

        <div class="session-card flex-container-nw">
          
          <div class="session-radio">
              <input type="radio" name="{{ grouploop.index }}"/>
          </div>

          <div class="session-content">
            <span class="session-type {{ session.type_nospaces }}"></span>
            <span class="title">
              {{ session.title }}
            </span>
            <span class="description">
              {{ session.location }}
              {{ grouploop.index }}
            </span>
          </div>

        </div>

      {% endfor %}

      </div>
      
    </div>

    {% endfor %}

    <div class="peek-panel">
		Sidebar here<br/>
		Click to close
	</div>


</body>
 {% endblock %}