{% block content %}
  <html>
    <head>
      <link rel="stylesheet" href="../static/css/main.css">
      <script src="static/js/jquery.js"></script>
      <script src="static/js/FileSaver.js"></script> 
      <script src="static/js/ics.js"></script>

      <script>
        
        
        
        $(function() {
          $('.session-radio').click(function () {
            /*
            var radioGroupName = $(this).attr('name');
            console.log(radioGroupName);
            */
            $(this).children('input').prop('checked', true);
            $('input:not(:checked)').parent().removeClass("radio-selected");
            $('input:checked').parent().addClass("radio-selected");
          });
          
          $('.session-content').click(function(){
            $('.peek-panel').animate({right:'0px'},250);
          });
          
          $('.peek-panel').click(function(){
            $(this).animate({right:'-336px'},200);
          })
          
          $('.clear-selection').click(function(){ 
            var radioGroupName = $(this).attr('name');
            $('input[name=' + radioGroupName + ']').prop('checked',false);
            $('input:not(:checked)').parent().removeClass("radio-selected");
          })

        });
        

      </script>



    </head>


    <!-- if user in session  -->
    {% if username is defined %}
    <div class="btn-group mr-2" role="group" aria-label="Second group">
      Welcome, {{ username }}

      <!-- Logout button -->
      <form action="/logout" method="POST">
        <button type="submit" class="btn btn-warning"> Log out </button>
      </form>

    </div>
   
    <!-- else  -->
    {% else %}

    <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
    <div class="btn-group mr-2" role="group" aria-label="First group">

      <!-- Login button  -->
      <form action="/login" method="GET">
        <button type="submit" class="btn btn-primary"> Log in </button>
      </form>

    </div> 
    <div class="btn-group mr-2" role="group" aria-label="Second group">
       
      <!-- Signup button  -->
      <form action="/signup" method="GET">
        <button type="submit" class="btn btn-info"> Sign up </button>
      </form>

    </div>  
    </div>
    
    <!-- end if  -->
    {% endif %}


    <span class="agenda-day">
      Sunday, June 2
    </span>

    {% set start_time = '2019-06-02 08:30:00-04:00' %}

    
    {% for session in sessions %}

    
    <div class="time-slot-container">
      <div class="time-display">
        8:30 &ndash; 9:15am
        <div class="clear-selection" name="session1">Clear</div>
      </div>
      
      <div class="flex-container">
        <div class="session-card flex-container-nw">
          
          <div class="session-radio">
              <input type="radio" name="session1"/>
          </div>

          <div class="session-content">
            <span class="session-type {{ session.type_nospaces }}">{{ session.type }}</span>
            <span class="title">
              {{ session.title }}
            </span>
            <span class="description">
              {{ session.location }}
            </span>
          </div>
        </div>


      </div>
    </div>

    {% endfor %}
          
<!-- SECOND TIME SLOT -->   
    <div class="time-slot-container">
      <div class="time-display">
        9:30 &ndash; 10:15am
        <div class="clear-selection" name="session2">Clear</div>
      </div>
      
      <div class="flex-container">
        <div class="session-card flex-container-nw">
          
          <div class="session-radio">
              <input type="radio" name="session1"/>
          </div>

          <div class="session-content">
            <span class="session-type keynote"></span>
            <span class="title">
              {{ session.title }}
            </span>
            <span class="description">
              {{ session.speaker }}
            </span>
          </div>
        </div>


      </div>
    </div>
    

    <div class="peek-panel">
      Sidebar here<br/>
      Click to close
    </div>








    <section class="content-section">
        <div class="flex-container">
          ALL SESSIONS

            <!-- for every listing in favorites  --> 
            {% for session in sessions %}

              <div class="session-card flex-container-nw">

                <div style="margin-right:16px">
                  <input type="radio" name="session1"/>
                </div>
                  <div>
                    <span class="session-type keynote"></span>
                    <span class="title">
                      {{ session.title }}
                    </span>
                    <span class="description">
                      {{ session.speaker }}
                    </span>
                  </div>

                  <!-- Save to calendar button --> 
                  <button type="submit" onclick="saveToCalendar('{{ session.title }}', '{{ session.speaker }}', '{{ session.start_time }}', '{{ session.end_time }}')"> Save to calendar </button>


              </div> 


            <!-- end for --> 
            {% endfor %}


      </div>
    </section>

    <script type="text/javascript">
      function saveToCalendar(title, speaker, start_time, end_time) {
        console.log(title);
        var cal = ics();
        cal.addEvent(title, speaker, 'Default', start_time, end_time);
        cal.download('title');

      }

    </script>



  </html>
  {% endblock %}