<html>
	<head>
		<link rel="stylesheet" href="../static/css/main.css">
	</head>
	<body>
	
		<div class="flex-container">
			<div class="session-card flex-container-nw">
				<div style="margin-right:16px">
					<input type="radio" name="session1"/>
				</div>
				
				<div>
					<span class="session-type keynote"></span>
					<span class="title">
						Up, Up, and Away: Unleashing the Superpowers of Pega Infinity
					</span>
					<span class="description">
						You know that feeling &ndash; the one where you’re defeated by technology&hellip;
					</span>
				</div>
			</div>
			
			<div class="session-card flex-container-nw">
				<div style="margin-right:16px">
					<input type="radio" name="session1"/>
				</div>
				
				<div>
					<span class="session-type customer-case-study"></span>
					<span class="title">
						Up, Up, and Away: Unleashing the Superpowers of Pega Infinity
					</span>
					<span class="description">
						You know that feeling &ndash; the one where you’re defeated by technology&hellip;
					</span>
				</div>
			</div>
			
			<div class="session-card flex-container-nw">
				<div style="margin-right:16px">
					<input type="radio" name="session1"/>
				</div>
				
				<div>
					<span class="session-type customer-how-to"></span>
					<span class="title">
						Up, Up, and Away: Unleashing the Superpowers of Pega Infinity
					</span>
					<span class="description">
						You know that feeling &ndash; the one where you’re defeated by technology&hellip;
					</span>
				</div>
			</div>
			
			<div class="session-card flex-container-nw">
				<div style="margin-right:16px">
					<input type="radio" name="session1"/>
				</div>
				
				<div>
					<span class="session-type customer-how-to"></span>
					<span class="title">
						Up, Up, and Away: Unleashing the Superpowers of Pega Infinity
					</span>
					<span class="description">
						You know that feeling &ndash; the one where you’re defeated by technology&hellip;
					</span>
				</div>
			</div>
			
			<div class="session-card flex-container-nw">
				<div style="margin-right:16px">
					<input type="radio" name="session1"/>
				</div>
				
				<div>
					<span class="session-type keynote"></span>
					<span class="title">
						Up, Up, and Away: Unleashing the Superpowers of Pega Infinity
					</span>
					<span class="description">
						You know that feeling &ndash; the one where you’re defeated by technology&hellip;
					</span>
				</div>
			</div>
			
			



	</body>
</html>