<html>
	<head>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
		<link rel="stylesheet" href="../static/css/main.css">
	</head>
	<body>
		<div id="header">
			<h1>Agendas</h1>
			<span class="primary-button">Create agenda</span>
		</div>
		
		<div class="list-table">
			<table cellspacing="0">
				<thead>
					<th>Name</th>
					<th>Created</th>
					<th>Sessions</th>
					<th>Actions</th>
				</thead>
				<tbody>
					<tr>
						<td><a href="#">Acme Senior Consultants</a></td>
						<td>05/01/2019</td>
						<td>10</td>
						<td><a href="#">Share</a></td>
					</tr>
					<tr>
						<td><a href="#">Acme C-Level</a></td>
						<td>05/01/2019</td>
						<td>7</td>
						<td><a href="#">Share</a></td>
					</tr>
					<tr>
						<td><a href="#">Robotics Focus</a></td>
						<td>05/01/2019</td>
						<td>9</td>
						<td><a href="#">Share</a></td>
					</tr>
				</tbody>
			</table>
		</div>

	</body>
</html>